{{#each candidates as candidate}}
  <div class="q-election-executive-item">
    <div class="q-election-executive-item-image">
      {{#if candidate.image && candidate.image.base64}}
        <img class="{{candidate.imageClassAttribute}}" src="{{candidate.image.base64}}" alt="{{candidate.image.altText}}"/>
      {{/if}}
    </div>
    <div class="q-election-executive-item-text">
      <div class="q-election-executive-item-text-name s-font-title-xs">
        {{#if candidate.status === "elected"}}
          <!-- checkmark -->
          <svg viewBox="0 0 16 16" width="14" height="14" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path fill="currentColor" d="M0 9l5 5L16 3l-2-2-9 9-3-3z"/>
            </g>
          </svg>
        {{/if}}
        {{#if candidate.status === "not elected" && candidate.isPrevious}}
          <!-- crossmark -->
          <svg viewBox="0 0 16 16" width="14" height="14"  xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path fill="currentColor" d="M6 8l-5 5 2 2 5-5 5 5 2-2-5-5 5-5-2-2-5 5-5-5-2 2 5 5z"/>
            </g>
          </svg>
        {{/if}}
        {{candidate.name || ""}}
      </div>{{#if candidate.isPrevious}}<div class="s-font-title-xs">*</div>{{/if}}
      <div class="s-font-note q-election-executive-item-text-party">{{candidate.party || ""}}</div>
      {{#if candidate.votes}}
        <div class="s-font-note q-election-executive-item-text-votes">
          <!-- insert a space after each three digits -->
          {{candidate.votes.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
        </div>
      {{/if}}
    </div>
    <div class="q-election-executive-item-bar s-color-gray-3">
      <div class="q-election-executive-item-bar-color {{candidate.colorClass}}" style="{{candidate.colorStyle}} width: {{candidate.width}};"></div>
    </div>
  </div>
{{/each}}
