<div class="q-item-container">
  <h3 class="s-q-item__title">{{title}}</h3>
  <div class="q-election-executive-info s-font-note">
    {{#if subtitle}}{{subtitle}}{{#if intermediate || updatedDate}},{{/if}}{{/if}}
    {{#if intermediate}}Zwischenergebnis{{#if updatedDate}}, {{/if}}{{/if}}{{#if updatedDate}}Update {{updateInfo}}{{/if}}
  </div>
  <div class="q-election-executive" style="height: {{numberCandidates * (40 + 8)}};">
    {{#if majority && candidatesInfo.maxResult > 0}}
      <div class="q-election-executive-majority s-color-gray-3" style="left: {{majority * 100 / candidatesInfo.maxResult}}%; height: {{(numberCandidates * (40 + 8)) - 4}};">
        <div class="q-election-executive-majority-label" style="top: {{(numberCandidates * (40 + 8)) - 4}};">
          <!-- majority arrow -->
          <svg class="q-election-executive-majority-arrow" viewBox="0 0 7 35" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 5v30H3V5H0l3.5-5L7 5H4z" fill="currentColor" fill-rule="evenodd"/>
          </svg>
          <div class="q-election-executive-majority-text s-font-note-s" style="left: calc({{majority * 100 / candidatesInfo.maxResult}}% - 135px);">
            <div>Absolutes Mehr</div>
            <!-- insert a space after each three digits -->
            <div>{{majority.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}} Stimmen</div>
          </div>
        </div>        
      </div>
    {{/if}}
    {{#each sortedCandidates as candidate}}
      <div class="q-election-executive-item">
        <div class="q-election-executive-item-image">
          {{#if candidate.status === "not elected"}}
            <img class="q-election-executive-item-image-gray" src="{{candidate.image}}"/>
          {{else}}
            <img src="{{candidate.image}}"/>
          {{/if}}
        </div>
        <div class="q-election-executive-item-info s-color-gray-3">
          {{#if candidate.votes}}
            <div class="q-election-executive-item-bar" style="background-color: {{candidate.colour}}; width: {{candidate.votes * 100 / candidatesInfo.maxResult}}%;"></div>
          {{else}}
            <div class="q-election-executive-item-bar" style="background-color: {{candidate.colour}}; width: 1px;"></div>
          {{/if}}
          <div class="q-election-executive-item-text">
            <span class="q-election-executive-item-text-name s-font-title-xs">
              {{#if candidate.status === "elected"}}
                <!-- checkmark -->
                <svg class="q-election-executive-elected" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="currentColor" d="M0 9l5 5L16 3l-2-2-9 9-3-3z"/>
                  </g>
                </svg>
              {{/if}}
              {{#if candidate.status === "not elected" && candidate.previous}}
                <!-- crossmark -->
                <svg class="q-election-executive-dropped" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="currentColor" d="M6 8l-5 5 2 2 5-5 5 5 2-2-5-5 5-5-2-2-5 5-5-5-2 2 5 5z"/>
                  </g>
                </svg>
              {{/if}}
              {{candidate.name}}
            </span>{{#if candidate.previous}}<span class="s-font-title-xs">*</span>{{/if}}
            <span class="s-font-note">{{candidate.party}}</span>
          </div>
          {{#if candidate.votes}}
            <div class="s-font-note-s s-font-note-s--strong q-election-executive-item-votes">
              <!-- insert a space after each three digits -->
              {{candidate.votes.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
            </div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="q-election-executive-footer s-font-note-s s-font-note-s--light">
    {{#if majority && candidatesInfo.maxResult > 0}}
      <div class="q-election-executive-majority-gap"></div>
    {{/if}}
    {{#if sources.length > 0}}
      {{#if sources.length > 1}} 
        Quellen: 
      {{else}} 
        Quelle: 
      {{/if}} 
      {{#each sources as source, index}}
        <!-- 	If you separate DOM siblings with newlines whitespaces cannot be removed by svelte renderer
              To avoid unwanted whitespaces around commas separating each source, we keep render infos for sources at one line here.
              See also: https://github.com/sveltejs/svelte/issues/189  -->
        {{#if source.text !== ''}}{{#if source.validHref}}<a href="{{source.href}}" target="blank" rel="noopener noreferrer">{{source.text}}</a>{{else}}{{source.text}}{{/if}}{{#if index !== sources.length - 1 && sources[index + 1] !== ''}}, {{/if}}{{/if}} 
      {{/each}}
    {{/if}}
    {{#if candidatesInfo.previous}}&ndash; *bisher{{/if}}
    {{#if candidatesInfo.elected}}
      &ndash; 
      <!-- checkmark -->
      <svg class="q-election-executive-elected" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <path fill="currentColor" d="M0 9l5 5L16 3l-2-2-9 9-3-3z"/>
        </g>
      </svg> 
      = gewählt
    {{/if}}
    {{#if candidatesInfo.dropped}}
      &ndash; 
      <!-- crossmark -->
      <svg class="q-election-executive-dropped" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <path fill="currentColor" d="M6 8l-5 5 2 2 5-5 5 5 2-2-5-5 5-5-2-2-5 5-5-5-2 2 5 5z"/>
        </g>
      </svg>
      = abgewählt
    {{/if}}
    {{#if notes}}&ndash; {{notes}}{{/if}}
  </div>
</div>

<script>
  export default {
    computed: {
      updateInfo: (updatedDate) => {
        let updated = new Date(updatedDate);
        if (updated.getTime()) {
          let now = new Date();
          let diff = now.getTime() + now.getTimezoneOffset() - updated.getTime(); // "updated" of q item already in UTC => "now" has to be normalized with timezone offset
          let diffMinutes = Math.floor(diff / (1000 * 60));
          if (diffMinutes < 60) { // update less than an hour ago
            return `vor ${diffMinutes} Minute${diffMinutes > 1 || diffMinutes === 0 ? 'n' : ''}`;
          } else if (diffMinutes < 60 * 24) { // update less than a day ago
            let hours = Math.floor(diffMinutes / 60);
            return `vor ${hours} Stunde${hours > 1 || hours === 0 ? 'n' : ''}`;
          } else if (diffMinutes > 7 * 60 * 24) { // update more than 7 days ago -> show date
            return `am ${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;
          } else {
            let days = Math.floor(diffMinutes / (60 * 24));
            return `vor ${days} Tag${days > 1 || days === 0 ? 'en' : ''}`;
          }
        }
      },
      sortedCandidates: (candidates) => {
        return candidates.sort(function(candidateA, candidateB) {
          if ((candidateA.votes === undefined && candidateB.votes === undefined) || candidateA.votes === candidateB.votes) {
            return 0;
          }
          if ((candidateA.votes === undefined && candidateB.votes !== undefined) || (candidateA.votes < candidateB.votes)) {
            return 1;
          }
          return -1;
        })
      },
      numberCandidates: (candidates) => {
        return candidates.length;
      },
      candidatesInfo: (candidates, majority) => {
        let maxResult = 0;
        let countPrevious = 0;
        let countElected = 0;
        let countDropped = 0;
        candidates.forEach(candidate => {
          if(candidate.previous) {
            countPrevious++;
            if (candidate.status === "not elected") {
              countDropped++ 
            }
          }
          if (candidate.status === "elected") {
            countElected++;
          }
          if (candidate.votes > maxResult) {
            maxResult = candidate.votes;
          }
        })
        let candidatesInfo = {
          maxResult: maxResult,
          previous: countPrevious > 0,
          elected: countElected > 0,
          dropped: countDropped > 0
        };
        return candidatesInfo;
      }
    }
  };
</script>

