$row-height: 55px;
$image-size: 50px;
$image-margin: 7px;
$majority-text-width: 120px;
$bar-height: 13px;

.q-election-executive {
  opacity: 1 !important;

  &-container {
    position: relative;
  }

  &-candidates {
    position: relative;
  }

  &-info {
    margin-bottom: 16px;
  }

  &-majority {
    position: absolute;
    background-color: currentColor;
    width: 1px;
    height: 5px;
    margin-top: $bar-height;

    &-group {
      position: relative;
    }

    &-arrow {
      position: absolute;
      height: 35px;
      margin-top: $bar-height;
    }

    &-text {
      padding-top: 20px;

      &--left {
        text-align: left;
      }
      &--right {
        text-align: right;
        padding-right: 10px;
      }
    }

    /* because of two-line majority text we have insert a space which is as high as the line height */
    &-gap {
      height: 14px;
    }
  }

  &-item {
    height: $row-height;
    margin: 0 0 7px 0;

    position: relative;

    &-group {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - (#{$image-size} + #{$image-margin}));
    }

    &-bar {
      width: 100%;
      float: left;
      height: $bar-height;
      position: relative;
      background-color: currentColor;

      &-color {
        background-color: currentColor;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-image {
      float: left;
      width: $image-size;
      height: $image-size;
      overflow: hidden;
      border-radius: 50%;
      margin: 2px $image-margin 2px 0;
      position: relative;

      img {
        display: block;
        height: $image-size;
        position: absolute;
        top: 50%;
        margin-top: calc(-#{$image-size} / 2);
      }

      &-gray {
        filter: gray;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }

    &-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;

      &-candidate {
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-party {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 2px;
      }

      &-votes {
        margin-left: auto;
        /*         z-index: 1;
 */
        white-space: nowrap;
        padding-right: 3px;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  &-elected,
  &-dropped {
    height: 1em;
  }

  &-footer {
    margin-top: 16px;
  }
}
