$row-height: 55px;
//IMPORTANT: If the image-size gets updated, the width in the IMAGE_SERVICE_URL env variable also needs to be updated
$image-size: 54px;
$image-margin: 7px;
$majority-text-width: 120px;
$bar-height: 13px;
$party-margin: 2px;

.q-election-executive {
  opacity: 1 !important;

  /* subtitle */
  &-info {
    margin-bottom: 16px;
  }

  /* majority including arrow and text */
  &-majority {
    position: absolute;
    background-color: currentColor;
    width: 1px;
    height: 5px;

    &-group {
      position: relative;
    }

    &-arrow {
      position: absolute;
      height: 35px;
    }

    &-text {
      padding-top: 10px;

      &--left {
        text-align: left;
      }
      &--right {
        text-align: right;
        padding-right: 10px;
      }
    }
  }

  /* each candidate with image, text and bar */
  &-item {
    margin: 0 0 7px 0;

    /* candidate, votes, bar and majority line */
    &-group {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - (#{$image-size} + #{$image-margin}));
    }

    /* result bar */
    &-bar {
      width: 100%;
      height: $bar-height;
      background-color: currentColor;

      &-color {
        background-color: currentColor;
        height: 100%;
      }
    }

    /* space on top of others group if no majority */
    &-others-spacer {
      margin-top: $party-margin;
    }

    /* candidates image */
    &-image {
      float: left;
      width: $image-size;
      height: $image-size;
      overflow: hidden;
      border-radius: 50%;
      margin: 2px $image-margin 2px 0;

      img {
        display: block;
        height: $image-size;
      }
    }

    /* candidate including name, party, votes */
    &-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;

      &-candidate {
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-party {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: $party-margin;
        min-height: 17px;
      }

      &-votes {
        margin-left: auto;
        white-space: nowrap;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  &-available-seats {
    width:100%; 
    text-align:right;
    border-bottom: 1px solid currentColor; 
    line-height:0.1em!important;
    margin: 20px 0 16px 0;
   
    &-text {
      background: white!important;
      line-height:0.1em!important;
      padding-left: 10px;
    }
  }

  &-elected,
  &-dropped {
    height: 1em;
  }
}
