.q-election-executive {
	&-info {
		margin-bottom: 5px;
	}

  &-majority {
    position: absolute;
    background-color: currentColor;
    width: 1px;

    &-label {
      position: relative;
    }

    &-arrow {
      position: relative;
      height: 40px;
      left: -4px;
    }

    &-text {
      top: 10px;
      position: absolute;
      width: 120px;
      text-align: right;
    } 

    &-gap {
      height: 40px;
    }
  }

	&-item {
    &-info {
      float: left;
      position: relative;
      height: 40px;
      background-color: currentColor; 
      margin: 0 0 8px 8px;
      top: 5px;
      width: calc(100% - 48px);
    }

    &-image {
      float: left;
      width: 40px;
      height: 40px;
      overflow: hidden;
      background: #cfcfcf;
      border-radius: 50%;
      margin-top: 4px;

      img {
        display: block;
        height: 45px;
        margin: 0 auto;
      }

      &-gray {
        filter: gray;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }

    &-bar {
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-text {
      float:left;
      width: 100%;
      margin: 4px 0 0 4px;
      position: relative;
      z-index: 1;

      span {
        vertical-align: middle;
      }

      &-name {
        display: inline-block;
        max-width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
      }
    }

    &-votes {
      float: right;
      position: absolute;
      top: 20;
      z-index: 1;
      right: 5px;
      /* overwrite with right sophie font */
      font-size: 12px;
    }
	}

  &-elected,
  &-dropped {
    height: 1em;
  }

  &-footer {
    margin-top: 10px
  }
}
