$image-size: 44px;
$image-margin: 7px;

.q-election-executive {
  position: relative;

	&-info {
		margin-bottom: 16px;
	}

  &-majority {
    position: absolute;
    background-color: currentColor;
    width: 1px;
    top: 0;
    bottom: 0;

    &-arrow {
      position: absolute;
      bottom: -35px;
      height: 35px;
      left: -4px;
    }

    &-text {
      position: absolute;
      bottom: -40px;
      width: 120px;

      &--left {
        text-align: left;
        left: 10px;
      }
      &--right {
        text-align: right;
        right: 10px;
      }
    } 

    &-gap {
      height: 40px;
    }
  }

	&-item {
    height: 44px;
    margin: 0 0 7px 0;

    &-bar {
      float: left;
      height: 26px;
      position: relative;
      background-color: currentColor; 
      width: calc(100% - (#{$image-size} + #{$image-margin}));

      &-color {
        background-color: currentColor;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-image {
      float: left;
      width: $image-size;
      height: $image-size;
      overflow: hidden;
      border-radius: 50%;
      margin-right: $image-margin;

      img {
        display: block;
        height: $image-size;
        margin: 0 auto;
      }

      &-gray {
        filter: gray;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }

    &-text {
      // background-color of articles
      background-color: currentColor;
      display: flex;
      width: calc(100% - (#{$image-size} + #{$image-margin}));
      position: relative;
      z-index: 1;

      &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
      }

      &-party {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 5px;
      }

      &-votes {
        margin-left: auto;
        z-index: 1;
        white-space: nowrap;
        padding-right: 3px;
        padding-left: 5px;
      }
    }
	}

  &-elected,
  &-dropped {
    height: 1em;
  }

  &-footer {
    margin-top: 16px
  }
}
